/* magazine view */
.article-container {
    max-width: 1000px !important;
}

.reader_pane_view_style_4 .article_magazine {
    max-width: 100% !important;
    margin: auto !important;
    height: auto !important;
}

.reader_pane_view_style_4 .article_magazine_title_wrapper {
    max-width: none !important;
}

.reader_pane_view_style_4 .article_magazine_content {
    max-height: none !important;
    height: calc(20px * 4) !important;
}

/* article modal */
#article_dialog .article_footer_placeholder_top {
    width: 900px !important;
}

#article_dialog .article_block_image,
#article_dialog iframe {
    min-width: 400px !important;
    max-width: 840px !important;
    min-height: 300px !important;
    max-height: 500px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

#article_dialog_wrapper {
    width: 1000px !important;
}

/* hide beta badge */
.beta_badge {
    display: none !important;
}