/* magazine view */
.article-container {
    max-width: 900px !important;
}

.reader_pane_view_style_4 .article_magazine {
    max-width: 100% !important;
    margin: auto !important;
    height: auto !important;
}

.reader_pane_view_style_4 .article_magazine_title_wrapper {
    max-width: none !important;
}

.reader_pane_view_style_4 .article_magazine_content {
    max-height: none !important;
    height: calc(20px * 4) !important;
}

/* article modal */
#article_dialog .article_footer_placeholder_top {
    width: 900px !important;
}

#article_dialog .article_block_image,
#article_dialog iframe {
    min-width: 400px !important;
    max-width: 840px !important;
    min-height: 300px !important;
    max-height: 500px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

#article_dialog_wrapper {
    width: 1000px !important;
}

/* fix for email spans showing up weird */
/* for some reason patreon forwards have this span width set to 0 */
div.article_full_contents div.article_content span:first-of-type {
    width: auto !important;
}

/* hide beta badge */
.beta_badge {
    display: none !important;
}

/* List page */
.reader_pane_view_style_0 h5.articles_feed_group_heading {
    font-size: 20px !important;
    margin-top: 15px !important;
}

.reader_pane_view_style_0 h5.articles_feed_group_heading img.feed_favicon {
    height: 25px;
    width: 25px;
}

.reader_pane_view_style_0 .article_header .article_header_title {
    font-size: 15px;
}